{% extends 'base.html' %}
{% block header %}
<h1>{% block title %}{% endblock %}</h1>
{% if g.user %}
{% endif %} 
{% endblock %} 
{% block content %}
<div class="row">
<div class=col-md-12>
  {#
    https://flask-login.readthedocs.io/en/latest/
    #}
  <form method="POST">
    <label>Skriv inn Emailen din:</label> <br>
    <input type="email", name="email"> <br>
    <label>Skriv inn passordet ditt:</label> <br>
    <input type="password", name="password"> <br>
    <input type="submit">
    <a href="/forgot_password">Glemt passord</a>
  </form>

{% endblock %}