{% extends 'base.html' %}
{% block header %}
<h1>{% block title %}{% endblock %}</h1>
{% if g.user %}
{% endif %} 
{% endblock %} 
{% block content %}
<div class="row">
<div class=col-md-12>
<ul>
  <li><a href="{{ url_for('auth.index') }}">Inlogging m.m.</a></li>
  <li><a href="{{ url_for('user.index') }}">Brukersiden</a></li>
  <li><a href="{{ url_for('top.index') }}">Toplister</a></li>
  <li><a href="{{ url_for('page.privacy') }}">Personvern</a></li>
  <li><a href="{{ url_for('page.about') }}">Om oss</a></li>
</ul>

 
</div>

{% endblock %}