{% extends 'base.html' %}
{% block header %}
<h1>{% block title %}{% endblock %}</h1>
{% if g.user %}
{% endif %} 
{% endblock %} 
{% block content %}

<div class="topnav">
  <a class="active" href="http://127.0.0.1:5000/#">Hjemmesiden</a>
  <a href="http://127.0.0.1:5000/auth/">Innlogging</a>
  <a href="http://127.0.0.1:5000/user/">Brukersiden</a>
  <a href="http://127.0.0.1:5000/top/">Toplister</a>
  <a href="http://127.0.0.1:5000/page/personvern">Personvern</a>
  <a href="http://127.0.0.1:5000/page/om-oss">Om oss</a>
</div>

<div class="hjemmesiden-section">
  <h1>Hjemmesiden</h1>
</div>

<div class="row">
  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Innlogging</h2>
      <a href="http://127.0.0.1:5000/auth/">
        <button class="button">Logg inn</button>
      </a>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Brukersiden</h2>
      <a href="http://127.0.0.1:5000/user/">
        <button class="button">Gå til brukersiden</button>
      </a>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Toplister</h2>
      <a href="http://127.0.0.1:5000/top/">
        <button class="button">Se toplistene</button>
      </a>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Personvern</h2>
      <a href="http://127.0.0.1:5000/page/personvern">
        <button class="button">Informasjon om personvern</button>
      </a>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Om Oss</h2>
      <a href="http://127.0.0.1:5000/page/om-oss">
        <button class="button">Om oss</button>
      </a>
      </div>
    </div>
  </div>
</div>

{% endblock %}